<div class="flex items-center justify-between w-full py-6 text-white px-12 border-b">
    <p class="text-3xl text-gray-600">Welcome Again <%- user %>!</p>
    <button class="btnLogout px-4 py-2 bg-emerald-500 rounded-xl">Logout</button>
</div>