<form class="col-10 md:w-1/2 my-3 md:m-0 md:col-6">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="title">
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" name="price" class="form-control" id="price">
  </div>

  <div class="mb-3">
    <label for="thumbnail" class="form-label">Thumbnail</label>
    <input type="text" name="thumbnail" class="form-control" id="thumbnail">
  </div>

  <input type="submit" class="btn btn-outline-primary" value="Save" id="buttonSubmit" />
</form>