<div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
    <div>
      <div class="bg-emerald-600 text-white p-3 rounded-l-lg rounded-br-lg">
        <div class="text-gray-200 border-b w-10 border-emerald-500">JoEnLbidKrn30IZaAADf</div>
        <p class="text-sm text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      </div>
    </div>
</div>