<div class="flex w-full mt-2 space-x-3 max-w-xs">
  <div>
    <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
      <div class="text-gray-700 border-b w-10 border-gray-400">CaXAoTYWSKF7WyPvAADd</div>
      <p class="text-sm text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>