<%- include('./layout/mainLayout') %>
        <div class="flex flex-col gap-3 items-center justify-center h-screen w-screen px-12">
            <h1 class="text-3xl text-emerald-500">Registerr</h1>
            <input type="email" class="inputEmail px-4 py-2 outline-none border rounded-xl w-full xs:w-1/2 lg:w-1/5 text-center" placeholder="Ingrese su email por favor">
            <input type="password" class="inputPassword px-4 py-2 outline-none border rounded-xl w-full xs:w-1/2 lg:w-1/5 text-center" placeholder="Ingrese su password por favor">
            <input type="submit" class="btnSubmit px-3 py-2 bg-emerald-400 hover:bg-emerald-600 text-white rounded-xl transition-all duration-300"  value="Submit" />
        </div>

        <script>
            const btnSubmit = document.querySelector('.btnSubmit')

            const inputEmail = document.querySelector('.inputEmail')
            const inputName = document.querySelector('.inputName')
            const inputPassword = document.querySelector('.inputPassword')

            btnSubmit.addEventListener('click', async () => {
                if(inputName.value.length == 0){
                    return alert('Por favor, rellena el campo')
                }

                const data = await fetch('/api/users/register', { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: inputEmail.value, name: inputName.value, password: inputPassword.value })
                })

                console.log(await data.json())
            })
        </script>

    </body>
</html>